*{
    padding: 0;
    margin: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    background-color: beige;
    height: 80px;
}
.navbar{
    display: flex;
    align-items: center;
}
a{*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color:black;
    font-size: 13.49px;
    font-weight: 700;
    margin-left: 40px;
}
.navbar_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_link a sup{
    color: #ff3f6c;
}
.navbar_link img{
    height: 35px;
    width: 35px;
    margin-left: 40px;
    
}
/* itna hogya h */

 .search_bar{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.search_icon{
    height: 20px;
    width: 40px;
    background-color: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-radius: 5px 0 0 5px;
    padding: 8px 0 10px 10px;
    color: f5f5f6;
    right: 55px; 
}

 .search_input{
    width: 400px;
    height: 20px;
    padding: 8px 10px 10px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
    font-weight: 600;
} 
/* doneeeeeeeeeeeeeeeeeeeeeeeeeeee */
.profile_section {
    /* display:flex; */
    margin-left: 40px;
}
.profile_section div{
    margin-left: 40px;
    font-weight: 700;
    
}
.profile_section .profile {
    display: flex;
    align-items: center;
    font-size: 13.49px;
    color: black;
    
}

.wishlist_section .material-symbols-outlined{
    height: 40px;
    width: 40px;;
}
/* will do the upper section later */

.front_image{
    margin-top: 20px;
}
.rising_star{
    display: flex;
}
.rising_star h2{
    margin: 50px 0px 10px 30px;
    font-size: 30px;
    color: #3e4152;
}
.rising_star_images img{
    height: 201.41px;
    width: 264.08px;
    background-color: blueviolet;
}

    text-decoration: none;
    color:black;
    font-size: 13.49px;
    font-weight: 600 ;
    margin-left: 30px;
}
.navbar_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_link a sup{
    color: #ff3f6c;
}
.navbar_link img{
    height: 35px;
    width: 35px;
    margin-left: 30px;
    
}
.navbar_search{
    display: flex;
    justify-content: center;
}
.search_icon{
    display: flex;
    height: 15px;
    width: 15px;
    color: black;
}
.material-symbols-outlined{
    margin-left: 95px;
    width: 25px;
    height: 27px;
    display: flex;
    background-color: rgb(238, 236, 236);
    border: 1px solid #f5f5f6;
}
.search_bar{
    display: flex;
    margin-left: 100px;
    width: 250px;
    height: 25px;
    border: 1px solid #f5f5f6;
    font-weight: 700;

}