*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body{
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(11, 11, 11, 0.1);
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color:black;
    font-size: 13.49px;
    font-weight: 700;
    margin-left: 40px;
    padding: 28px 0;
    border-bottom: 3px solid white;
}
.navbar a:hover{
    border-bottom: 3px solid #ff3f6c;
}
.navbar a sup{
    color: #ff3f6c;
}
.navbar img{
    height: 40px;
    width: 40px;
    margin-left: 40px;
    
}
/* itna hogya h */

 .search_bar{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.search_icon{
    height: 40px;
    width: 40px;
    background-color: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-radius: 5px 0 0 5px;
    padding: 8px 0 10px 10px;
    color: f5f5f6;
    right: 55px; 
}

 .search_input{
    min-width: 450px;
    height: 40px;
    padding: 8px 10px 10px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-radius: 0px 5px 5px 0px;
    font-size: 14px;
    font-weight: 600;
} 
/* doneeeeeeeeeeeeeeeeeeeeeeeeeeee */
.action_bar{
    margin-right: 50px;
    margin-left: 90px;
    display: flex;
    gap: 80px;
    font-size: 13.49px;
    font-weight: 700;
    
}
.profile_section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* doneeeeeeeeeeeeeeeeeeeeeeeeeeee */

.front_image{
    width: 100%;
    margin-top: 20px;
}
.front_image img{
    width: 100%;
    height: auto;
    display: block;
}
.rising_star{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.rising_star > img{
    width: 100%;
    height: auto;
    display: block;
}
.rising_star_images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.rising_star_images img {
  width: 220px;                 
  height: auto;
  border: 10px solid white;
  box-sizing: border-box;
  object-fit: cover;
}
.luxe_section img{
    width: 100%;
    height: auto;
    display: block;
}
.luxe_section .luxe_images{
    display: flex;
    justify-content: center;
}
.luxe_images{
  display: flex;
  flex-wrap: column;
  align-items: center;
}
.luxe_images img{
   padding: 50px 5px 15px;  
}
.shopby_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}

.shopBy_images {
    width: fit-content; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 50px 5px 15px;
}
.shopBy_images img {
    width: 180px;  
    height: 220px;
    border: 10px solid white;
    
}
.above_footer_img{
    width: 100%;
    height: auto;
    display: block;
}

/* footer ka section */
.footer{
    height: 790px;
    width: 100%;
    background-color: #FAFBFC;
    display: flex;
    justify-content: center;
}
.footer_text{
    height: 452px;
    width: 1080px;
    background-color: #FAFBFC;
    color: #696b79;
    display: flex;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}
.footer_text h4{
    color: #282c3f;
    height: 15px;
    width: 155px;
    margin: 12px 0px;
    font-size: smaller;
    font-weight: 700;
    text-transform: capitalize;
}
.footer_text1{
    height: 452px;
    width: 175px;
    background-color: #FAFBFC;
    padding: 0px 20px 0px 0px;
}
.footer_text1 p a{
    height: 24px;
    width: 155px;
    padding-bottom: 5px;
    color: #696b79;
    font-size: 13px;
}
.footer_text2{
    height: 293px;
    width: 162px;
    background-color: #FAFBFC;
    padding: 0px 20px 0px 0px;
}
.footer_text2 p a{
    height: 24px;
    width: 155px;
    padding-bottom: 5px;
    color: #696b79;
    font-size: 13px;
}
.footer_text3{
    height: 195px;
    width: 380px;
    background-color: #FAFBFC;
}
.footer_text3 h4{
    height: 44px;
    width: 360px;
    color: #282c3f;
    font-size: smaller;
    font-weight: 700;
}
.button_class{
    width: 139.98px;
    height: 44px;
    background-color: black;
    border-radius: 5px;
    border: 5px solid black;
    margin-right: 5px;
}
.button_class .button_text1{
    display: flex;
}
.button_class img{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
.button_class a{
    color: #f5f5f6;
}
.button_class .button_text2{
    display: flex;
}
.footer_text3 .keep-in-touch{
    font-size: 15px;
    font-weight: 800;
    color: #282c3f;
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer_text3 img{
    height: 25px;
    width: 25px;
    margin-right: 15px;
}
.footer_text4{
    height: 135px;
    width: 250px;
    background-color: #FAFBFC;
}
.footer_text4 img{
    width: 48px;
    height: 40px;
    margin-right: 15px;
}
.footer_text4 {
    font-size: 12px;
    color: #282c3f;
}
.footer4{
    display: flex;
}
.footer4_section{
    margin-bottom: 10px;
}
.custom-line {
    width: 100%;        
    border: none;
    height: 2px;         
    background-color: #ccc; 
    margin: 10px auto;   
}
.adress_section{
    height: 201px;
    width: 1080px;
    background-color:#FAFBFC;
    display: flex;
    align-items: end;
    margin-top: 50px;
}
.adress_section h4{
    height: 44px;
    width: 360px;
    color: #282c3f;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
}
.adress_section p{
    padding-bottom: 5px;
    color: #696b79;
    font-size: 13px;
}
.adress_text{
    /* height: 120px;
    width: 756px; */
    background-color: #FAFBFC;
}
.adress_text2 p a{
    color: #526cd0;
    font-weight: 700;
}
.adress_text2 p{
    margin-left: 540px;
}


@media (max-width: 480px){
    .navbar a{
        display: none;
    }
    .search_bar{
        display: none;
    }
    .action_bar{
        gap: 25px;
        margin-right: 15px;
    }
    .profile_text{
        display: none;
    }
    .rising_star_images img{
        display: block;
    }
}
